streamlit==1.32
#streamlit==1.29
#streamlit
git+https://github.com/streamlit/gsheets-connection
#git+https://github.com/arsentievalex/streamlit-dynamic-filters
numpy==1.26.4
st-annotated-text
pandas
#streamlit_pandas
matplotlib
seaborn
plotly
